<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns="http://java.sun.com/xml/ns/javaee"
     xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
     id="WebApp_ID" version="3.0">
            <module-name>forms</module-name>
<!--     <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/forms</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.resources</param-name>
            <param-value>
                com.forms.server.service.FormLoginService,
                 com.forms.server.service.FormsSignupService
            </param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.providers</param-name>
            <param-value>
                org.codehaus.jackson.jaxrs.JacksonJsonProvider
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/forms/*</url-pattern>
    </servlet-mapping> -->
</web-app>